# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
.env/

# Cache files
*.cache
*.log

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store

# Dependency files
*.egg-info/
*.eggs/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Build artifacts
build/
dist/